[submodule "GameWork"]
	path = GameWork
url=git@github.com:playgenhub/GameWork.git
[submodule "SUGAR"]
	path = SUGAR
	url = git@codebasehq.com:playgen/rage/sga2.git
[submodule "Server"]
	path = Server
	url = git@codebasehq.com:playgen/rage/it-alert-photon-server.git
[submodule "Simulation"]
	path = IT Alert! Simulation
	url = git@codebasehq.com:playgen/rage/it-alert-sim.git
