<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="Photon" type="Photon.SocketServer.Diagnostics.Configuration.PhotonSettings, Photon.SocketServer" />
		<section name="PluginSettings" type="Photon.Hive.Configuration.PluginSettings, PhotonHive" />
		<section name="WebRpcSettings" type="Photon.Hive.WebRpc.Configuration.WebRpcSettings, PhotonHive" />
	</configSections>
	
	<WebRpcSettings Enabled="true">
		<BaseUrl Value="http://photon-photon-pluginsdk-v1.webscript.io" />
	</WebRpcSettings>

	<Photon>
		<CounterPublisher enabled="True" updateInterval="1">
			<Sender endpoint="udp://255.255.255.255:40001" protocol="PhotonBinary" initialDelay="10" sendInterval="10" />
		</CounterPublisher>
	</Photon>

	<startup>
		<supportedRuntime version="v2.0.50727" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
